%h1 Список задач

%br 
= link_to 'Создать задачу', new_story_path, class: "btn btn-primary"
%br 
%br 

%table.table.table-bordered
  %tr
    %th Название
    %th Постановщик
    %th Исполнитель
    %th Статус
    %th
    %th
    %th

  - @stories.each do |story|
    %tr
      %td= story.title
      %td= link_to story.author.email, story.author
      %td= link_to story.performer.email, story.performer
      %td
        %strong= story.state_name
      %td= link_to 'Просмотр', story
      %td= link_to 'Редактировать', edit_story_path(story)
      %td= link_to 'Удалить', story, method: :delete, data: { confirm: 'Are you sure?' }

%br