%h1 Listing stories

%table.table.table-bordered
  %tr
    %th Название
    %th Постановщик
    %th Исполнитель
    %th
    %th
    %th

  - @stories.each do |story|
    %tr
      %td= story.title
      %td= link_to story.author.email, story.author
      %td= link_to story.performer.email, story.performer
      %td= link_to 'Show', story
      %td= link_to 'Edit', edit_story_path(story)
      %td= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Story', new_story_path
