- if @story.performer == current_user
  = link_to "Принять задачу", story_change_state_path(@story, event: :accept), method: :put if @story.can_accept?
  = link_to "Отклонить задачу", story_change_state_path(@story, event: :reject), method: :put if @story.can_reject?
  = link_to "Начать выполнение", story_change_state_path(@story, event: :start), method: :put if @story.can_start?
  = link_to "Завершить выполнение", story_change_state_path(@story, event: :finish), method: :put if @story.can_finish?


%p Название
%p= @story.title
%p Постановщик
%p= link_to @story.author.email, @story.author

%p Исполнитель
%p= link_to @story.performer.email, @story.performer

%p Статус задачи
%p
  %strong= @story.state_name

%p Описание
%p= @story.description

= link_to 'Редактировать задачу', edit_story_path(@story)
\|
= link_to 'Назад к списку задач', stories_path

%br
%br
.comment-list
  - @story.comments.reverse.each do |comment|
    .comment
      = comment.content
      %br
      = link_to comment.author.email, comment.author

= render partial: "comments/form", locals: { comment: Comment.new(story_id: @story.id) }